[Match]
Name={{ tunnel.netdev }}

[Network]
# for networkd >= 244 KeepConfiguration stops networkd from
# removing routes on this interface when restarting
KeepConfiguration=yes

{% for network in tunnel.networks %}
[Address]
Address={{ network.address }}
{% if network.scope is defined %}
Scope={{ network.scope }}
{% endif %}
{% endfor %}
