[NetDev]
Name={{ tunnel.netdev }}
Kind=gre
MTUBytes={{ tunnel.mtu_bytes }}

[Tunnel]
Local={{ tunnel.local_address }}
Remote={{ tunnel.remote_address }}
{% if tunnel.independent is defined and item.independent %}
Independent=true
{% endif %}
{% if tunnel.ttl is defined %}
TTL={{ tunnel.ttl }}
{% endif %}
